html, body{
    margin: 0;
    height: 100%;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

body {
    background: url("/Users/harrisonthomas/homework/portfolio2.0/assets/images/crossline-lines.png");
    background-color: transparent;
}

.container-fluid {
    background-color: #FDF6E3;
    margin: 30px;
    border: 5px solid #FDF6E3;
    padding: 15px;
    border: none;
    width: 90%;
}

.card {
    border: none;
    color: #002B36;
}

footer {
    color: #002B36;
    background-color: #BEA8A7;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 10px;
}

h4 {
    font-size: 14px;
}

.navbar-brand {
    text-align: center;
    margin: 0;
}

p {
    color: #002B36;
}

.form-control {
    width: 640px;
}

#contactrow {
    padding: 15px;
}

.btn-primary {
    background: #BEA8A7;
    color: #002B36;
    margin: 10px 0;
}

.imgcontainer {
    position: relative;
    display: inline-block;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 10px solid white;
}

img {
    border-style: none;
    height: 100%;
    width: 100%;
}

.card-body {
    padding: .5rem;
    text-align: center;
}

.card-img-top {
    border: solid 10px #BEA8A7;
    width: auto;
    height: 180px;
}

.card-title {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .form-control {
        width: 450px;
    }
    .card-img {
        width: 180px;
        height: auto;
    }

    .card-img-top {
        width: 80%;
    }

    .card-title {
        float:left;
        margin: 0 0 50px 0;
    }
    p {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .form-control {
        width: 360px;
    }
    img {
        height: 180px;
        width: auto;
    }
    p {
        text-align: center;
    }
}